.login_container {
    // min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8a9ab3;
}

.bg-body-login {
    background-color: #ffffff;
}

/* ContentModal.css */

/* Adjust modal body padding */
.content-part {
    padding: 20px; /* Add padding to the modal content */
    font-size: 16px; /* Adjust font size */
    line-height: 1.5; /* Increase line height for better readability */
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  /* Add custom styling for preformatted text */
  .content-part pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap; 
  }
  
  /* Optional: Set a max width for the modal */
  .c-modal-xl {
    max-width: 80%; /* Adjust modal width */
  }
  
  /* Add styling for modal title */
  .c-modal-title {
    font-size: 1.5rem; /* Increase the title size */
    font-weight: bold;
  }



  